language = "java10"
run = "javac -cp KarelJRobot.jar: QuadRunner.java && javac -cp KarelJRobot.jar: PyramidRunner.java && javac -cp KarelJRobot.jar: DiagonalHarvesterRunner.java && javac -cp KarelJRobot.jar: CityscapeRunner.java && javac -cp KarelJRobot.jar: CarpetRunner.java && javac -cp KarelJRobot.jar: Runner.java && java -cp KarelJRobot.jar: Runner"
